Importing the Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [32]:
# importing  the dataset with Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [31]:
# first 10 rows of the dataset
credit_card_data.head(10)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0
5     2 -0.425966  0.960523  1.141109  ...  0.253844  0.081080    3.67    0.0
6     4  1.229658  0.141004  0.045371  ...  0.034507  0.005168    4.99    0.0
7     7 -0.644269  1.417964  1.074380  ... -1.206921 -1.085339   40.80    0.0
8     7 -0.894286  0.286157 -0.113192  ...  0.011747  0.142404   93.20    0.0
9     9 -0.338262  1.119593  1.044367  ...  0.246219  0.083076    3.68    0.0

[10 rows x 31 columns]

In [33]:
credit_card_data.tail(10)

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
83269  59765  1.393547 -0.442765  0.462508  ... -0.057224  0.013021    5.54    0.0
83270  59765 -1.369622  0.736274  1.167279  ... -0.192927 -0.043928  103.34    0.0
83271  59765 -0.704546  0.435436  2.296579  ...  0.016580  0.001211   18.99    0.0
83272  59765 -0.900109  0.193682  1.479130  ...  0.125720  0.104477   99.00    0.0
83273  59766  1.151633 -0.032472  1.284557  ...  0.072367  0.038455    9.99    0.0
83274  59766 -0.465927  0.740705  1.731343  ...  0.078020  0.093914    1.00    0.0
83275  59767 -0.725577  0.379742  1.468039  ...  0.114452  0.115366   46.96    0.0
83276  59768 -1.711347  1.308095 -0.232786  ...  0.216308  0.181065   10.00    0.0
83277  59768  1.471591 -1.234024  0.279178  ...  0.029493  0.007596   40.00    0.0
83278  59769  1.135220  0.124163  0.109082  ...       NaN       NaN     NaN    NaN

[10 rows x 31 columns]

In [5]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37722 entries, 0 to 37721
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37722 non-null  int64
 1   V1      37722 non-null  float64
 2   V2      37722 non-null  float64
 3   V3      37722 non-null  float64
 4   V4      37722 non-null  float64
 5   V5      37722 non-null  float64
 6   V6      37722 non-null  float64
 7   V7      37721 non-null  float64
 8   V8      37721 non-null  float64
 9   V9      37721 non-null  float64
 10  V10     37721 non-null  float64
 11  V11     37721 non-null  float64
 12  V12     37721 non-null  float64
 13  V13     37721 non-null  float64
 14  V14     37721 non-null  float64
 15  V15     37721 non-null  float64
 16  V16     37721 non-null  float64
 17  V17     37721 non-null  float64
 18  V18     37721 non-null  float64
 19  V19     37721 non-null  float64
 20  V20     37721 non-null  float64
 21  V21     37721 non-null  float64
 22  V22     37721 non-null  float64
 23  V23     37721 non-null  float64
 24  V24     37721 non-null  float64
 25  V25     37721 non-null  float64
 26  V26     37721 non-null  float64
 27  V27     37721 non-null  float64
 28  V28     37721 non-null  float64
 29  Amount  37721 non-null  float64
 30  Class   37721 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.9 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [34]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    83077
1.0      201
Name: Class, dtype: int64

0 --> Normal Transaction

1 --> fraudulent transaction

In [8]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(37618, 31)
(103, 31)

In [10]:
# statistical measures of the data
legit.Amount.describe()

count    37618.000000
mean        86.017411
std        232.957939
min          0.000000
25%          7.300000
50%         22.880000
75%         77.675000
max       7879.420000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    24778.212797 -0.186787  0.044196  ...  0.007030  0.003658  86.017411
1.0    20498.291262 -7.762676  5.838647  ...  0.822304  0.102481  90.471165

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [13]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
21008  31409  1.105336 -0.110409  1.247515  ...  0.086335  0.034572   11.50    0.0
9030   12588 -1.270086  1.697073  1.531001  ...  0.036069  0.264372    2.28    0.0
35663  38213  1.038735 -0.229202  0.578990  ... -0.031429  0.034419  101.99    0.0
25686  33724 -0.765921  0.441794  2.390676  ...  0.425714  0.188960   36.80    0.0
20166  30834  1.080077 -0.099582  0.583467  ... -0.014599  0.006054   33.55    0.0

[5 rows x 31 columns]

In [16]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
30442  35926 -3.896583  4.518355 -4.454027  ...  0.635789  0.501050    4.56    1.0
30473  35942 -4.194074  4.382897 -5.118363  ...  0.473934  0.473757   14.46    1.0
30496  35953 -4.844372  5.649439 -6.730396  ...  0.210214  0.391855  111.70    1.0
31002  36170 -5.685013  5.776516 -7.064977  ...  0.303445  0.219380  111.70    1.0
33276  37167 -7.923891 -5.198360 -3.000024  ...  1.937421 -1.552593   12.31    1.0

[5 rows x 31 columns]

In [17]:
new_dataset['Class'].value_counts()

0.0    492
1.0    103
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    24962.004065 -0.158537  0.079553  ...  0.007303  0.012842  80.420122
1.0    20498.291262 -7.762676  5.838647  ...  0.822304  0.102481  90.471165

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
21008  31409  1.105336 -0.110409  ...  0.086335  0.034572   11.50
9030   12588 -1.270086  1.697073  ...  0.036069  0.264372    2.28
35663  38213  1.038735 -0.229202  ... -0.031429  0.034419  101.99
25686  33724 -0.765921  0.441794  ...  0.425714  0.188960   36.80
20166  30834  1.080077 -0.099582  ... -0.014599  0.006054   33.55
...      ...       ...       ...  ...       ...       ...     ...
30442  35926 -3.896583  4.518355  ...  0.635789  0.501050    4.56
30473  35942 -4.194074  4.382897  ...  0.473934  0.473757   14.46
30496  35953 -4.844372  5.649439  ...  0.210214  0.391855  111.70
31002  36170 -5.685013  5.776516  ...  0.303445  0.219380  111.70
33276  37167 -7.923891 -5.198360  ...  1.937421 -1.552593   12.31

[595 rows x 30 columns]

In [21]:
print(Y)

21008    0.0
9030     0.0
35663    0.0
25686    0.0
20166    0.0
        ...
30442    1.0
30473    1.0
30496    1.0
31002    1.0
33276    1.0
Name: Class, Length: 595, dtype: float64

Split the data into Training data & Testing Data

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(595, 30) (476, 30) (119, 30)

Model Training

Logistic Regression

In [24]:
model = LogisticRegression()

In [25]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

Accuracy Score

In [26]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9852941176470589

In [28]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9663865546218487